@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;
:root {
  --text: #606060;
  --bg: #fff;
 

  --PublicSans: "Public Sans", sans-serif;

  font: 18px/145% var(--PublicSans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body, html {
  height: 100%;
}